@import "../../assets/scss/abstracts";

.c-pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: rem(5);
  justify-content: center;
  margin: 20px 0;
  width: 100%;

  &__link {
    border: 2px solid var(--theme-color-2);
    color: var(--theme-color-2);
    font-weight: 700;
    padding: rem(20);
    transition: var(--theme-transition);

    &:hover,
    &:focus,
    &:active {
      border-color: var(--theme-color-3);
      color: var(--theme-color-3);
    }

    &.is-active {
      border-color: var(--theme-color-4);
      color: var(--theme-color-4);
    }
  }
}

/* 
.c-pagination a {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
}

.c-pagination a.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.c-pagination a:hover:not(.active) {
  background-color: #ddd;
} */