@import "../../assets/scss/abstracts";

$component-name: c-input;

.#{$component-name} {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;

  &:has(input[type="checkbox"]) {
    display: flex;
    flex-flow: row-reverse nowrap;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="search"],
  input[type="password"],
  select,
  textarea {
    border: 0;
    border-radius: .25rem;
    color: #495057;
    font-family: var(--theme-font-family);
    font-size: rem(16);
    min-width: 0;
    outline: none;
    padding: rem(10);
    width: 100%;
  }

  input[type="range"] {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 100px;
    justify-content: center;
    position: relative;
    width: 70%;

    @include breakpoint(1200) {
      width: 80%;
    }

    &::after {
      content: attr(value) " " attr(unit);
      display: flex;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      left: calc(100% + 10px);
      position: absolute;
      top: -3px;
      width: max-content;
    }
  }

  textarea {
    height: 100px;
    text-align: left;
    width: 100%;
  }

  &__title {
    flex-basis: 100%;
    font-size: rem(18);
    font-weight: 700;
    line-height: rem(20);
    margin-bottom: rem(5);
  }

  &__tooltip {
    color: var(--theme-color-2);
    cursor: pointer;
    font-size: rem(24);
    font-weight: 700;
    margin-left: rem(3);
    position: relative;
    transition: var(--theme-transition);

    &:hover {
      color: var(--theme-color-3);

      &::after {
        opacity: 1;
        visibility: visible;
        z-index: z-index("above");
      }
    }

    &::after {
      background-color: var(--theme-color-1);
      border-radius: 5px;
      color: #fff;
      content: attr(data-tooltip);
      font-size: 14px;
      left: -125px;
      max-width: 250px;
      opacity: 0;
      padding: 5px;
      position: absolute;
      top: 20px;
      transition: var(--theme-transition);
      visibility: hidden;
      width: max-content;
    }
  }




}