@import url("abstracts");
@import url("base/theme-variables");
@import url("base/reset");
@import url("base/helpers");
@import url("layout/l-page");

body {
  background: linear-gradient(to right, #10101f, #11122b, #0c143c);
  color: var(--text-color-1);
  padding-top: rem(100);
}

main {
  @include content;
}