@import "abstracts";
@import "base/theme-variables";
@import "base/reset";
@import "base/helpers";
@import "layout/l-page";

body {
  background: linear-gradient(to right, #10101f, #11122b, #0c143c);
  color: var(--text-color-1);
  padding-top: rem(100);
}

main {
  @include content;
}