$component-name: c-button;

.#{$component-name} {
  align-items: center;
  background-color: var(--theme-color-2);
  border: 2px solid var(--theme-color-2);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: var(--theme-font-family);
  font-weight: 700;
  gap: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: var(--theme-transition);

  svg path {
    fill: #fff;
  }


  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }


  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):active {
    background-color: var(--theme-color-3);
    border-color: var(--theme-color-3);
    color: #fff;
  }

  &--secondary {
    background-color: transparent;
    border-color: var(--theme-color-1);
    color: var(--theme-color-1);

    &:not(:disabled):hover,
    &:not(:disabled):focus,
    &:not(:disabled):active {
      background-color: transparent;
      border-color: var(--theme-color-2);
      color: var(--theme-color-2);
    }
  }
}