@import "../../assets/scss/abstracts";
$component-name: c-login;

.#{$component-name} {
  display: grid;
  gap: rem(10);

  &--modal {
    color: var(--theme-color-1);
    margin: 0 auto;
    max-width: rem(400);

    .c-input input {
      border: 2px solid var(--theme-color-1);

    }
  }

  .c-button {
    width: fit-content;
  }
}