@import url("../../assets/scss/abstracts");

.c-search {
  background-color: var(--text-color-1);
  border: 2px solid var(--theme-color-2);
  display: flex;
  max-width: 500px;
  width: 100%;

  &:focus,
  &:active {
    border-color: var(--theme-color-3);
  }

  .c-input {
    height: 100%;
    width: 100%;
  }
}