@import "../../assets/scss/abstracts";

.c-movies {
  background-color: var(--background-content-color);
  display: grid;
  gap: var(--global-module-size);
  grid-template-columns: 1fr 1fr;
  padding: var(--global-module-size);
  width: 100%;

  @include breakpoint(600) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}