@import url("../../assets/scss/abstracts");

$desktop: 600;

.l-header {
  background-color: var(--theme-color-1);
  color: var(--text-color-1);
  height: rem(80);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z-index("fixed-header");

  &__content {
    grid-template-columns: 1fr 1fr;
    padding-bottom: var(--global-module-size);
    padding-top: var(--global-module-size);
    @include content("grid");

    @include breakpoint($desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__logo {
    max-width: rem(100);

    @include breakpoint(600) {
      max-width: none;
    }
  }

  &__menu {
    display: flex;
    gap: rem(10);

    @include breakpoint($desktop) {
      align-items: center;
      justify-content: flex-end;
    }
  }

  @media only screen and (max-width: "#{$desktop - 1}px") {
    &__menu {
      align-items: flex-start;
      background-color: var(--theme-color-1);
      box-shadow: var(--theme-box-shadow);
      flex-direction: column;
      height: 100%;
      left: 0;
      padding-left: var(--global-module-size);
      padding-top: var(--global-module-size);
      position: fixed;
      top: 0;
      transform: translateX(-100%);
      transition: var(--theme-transition);
      width: rem(200);
      z-index: z-index("mobile-menu");

      &.is-active {
        transform: translateX(0);
      }
    }

    &__search {
      background-color: var(--theme-color-2);
      display: grid;
      left: 0;
      opacity: 0;
      padding: var(--global-module-size);
      place-items: center;
      position: fixed;
      top: rem(60);
      transition: var(--theme-transition);
      visibility: hidden;
      width: 100%;
      z-index: z-index("search-bar");

      &.is-active {
        opacity: 1;
        transform: translateY(rem(20));
        visibility: visible;
      }
    }
  }

  &__menu-item {
    align-items: center;
    color: var(--text-color-1);
    display: flex;
    padding: rem(10);
    transition: var(--theme-transition);
    width: 100%;

    svg {
      padding-right: rem(3);

      path {
        fill: var(--text-color-1);
        transition: var(--theme-transition);
      }
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var(--theme-color-2);

      svg path {
        fill: var(--theme-color-2);
      }
    }

    @include breakpoint($desktop) {
      justify-content: center;
      width: auto;
    }

  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    svg {
      cursor: pointer;
      padding-right: rem(3);

      path {
        fill: var(--text-color-1);
        transition: var(--theme-transition);
      }

      &:hover,
      &:focus,
      &:active,
      &.is-active {
        path {
          fill: var(--theme-color-2);
        }
      }
    }

    @include breakpoint($desktop) {
      display: none;
      visibility: hidden;
    }
  }

  &__search {
    @include breakpoint($desktop) {
      align-items: center;
      display: flex;
      justify-content: center;
      visibility: visible;
    }
  }
}