@import "../../assets/scss/abstracts";

.l-header {
  background-color: var(--theme-color-1);
  color: var(--text-color-1);

  &__content {
    @include content;
    gap: var(--global-module-size);
    padding-top: var(--global-module-size);
    padding-bottom: var(--global-module-size);
  }

  &__logo {
    max-width: rem(100);

    @include breakpoint(600) {
      max-width: none;
    }
  }

  &__menu {
    outline: 1px solid yellow;
  }

}