.l-page {

  &__header {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    width: 100%;
    padding-top: var(--global-module-size);
    padding-bottom: var(--global-module-size);
  }
}